html
  head
    meta(charset="UTF-8")
    meta(name="description" content="This is my personal blog.")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes")
    title= title
    link(rel="author" href="https://plus.google.com/104418084167424329296")
    link(rel="icon" href="resources/favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open Sans")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet" href="styles/index.css")
    script(src="scripts/google-analytics.js")
  body
    header
        section.menu
            a(href="https://www.cameronjsanchez.com" onclick="ga('send', 'event', 'link', 'click', 'https://www.cameronjsanchez.com');") Home
            a(href="https://blog.cameronjsanchez.com" onclick="ga('send', 'event', 'link', 'click', 'https://blog.cameronjsanchez.com');") Blog
            a(href="https://rm-planner.cameronjsanchez.com" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'https://rm-planner.cameronjsanchez.com');") RM Planner
    main
        section.title
            h1= title
        section.post
            section.image
                img(src= image)
            section.message!= message
            section.links
                h1 Blog Posts
                ul
                    li #[a(href="https://blog.cameronjsanchez.com/first") First] 
    footer
        div#contactInfo
            h2 You can contact me #[a(href="mailto:csanchez2237@gmail.com" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'mailto:csanchez2237@gmail.com');") here]!
            h3 ¡Hablo español!
        div#links.
            #[a(href="files/camerons-resume.pdf" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'files/camerons-resume.pdf');") Resume] | 
            #[a(href="https://github.com/Cameron637?tab=overview&from=2016-09-01&to=2016-09-30&utf8=%E2%9C%93" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'https://github.com/Cameron637?tab=overview&from=2016-09-01&to=2016-09-30&utf8=%E2%9C%93');") GitHub] |
            #[a(href="https://bitbucket.org/Cameron637/profile/repositories", target="_blank" onclick="ga('send', 'event', 'link', 'click', 'https://bitbucket.org/Cameron637/profile/repositories');") Bitbucket] |
            #[a(href="http://stackoverflow.com/users/6252597/cameron637?tab=profile", target="_blank" onclick="ga('send', 'event', 'link', 'click', 'http://stackoverflow.com/users/6252597/cameron637?tab=profile');") Stack Overflow] |
            #[a(href="https://www.linkedin.com/in/cameron-sanchez-114479a8?trk=nav_responsive_tab_profile" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'https://www.linkedin.com/in/cameron-sanchez-114479a8?trk=nav_responsive_tab_profile');") LinkedIn] |
            #[a(href="https://www.facebook.com/cameron.sanchez.54" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'https://www.facebook.com/cameron.sanchez.54');") Facebook]
        p © Cameron Sanchez 2016
    script(src="scripts/index.js")